*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* ---------Cabeçalho----------- */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)), url(https://images.pexels.com/photos/14899085/pexels-photo-14899085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav .pl{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #00FF00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

.text-box{
    color: #fff;
    width: 90%;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
} 

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px; /* 10 top 0 esq/dir 40 baixo */
    font-size: 14px;
    color: #fff;
}
.text-box hr{
    margin-left: auto;
    margin-right: auto;
    width: 17%; /* Você pode ajustar a largura conforme necessário */
}

@media (max-width: 600px) {
    nav{
        display:  grid;
    }
    nav .pl{
        font-size: 12px;
        margin: 0%;
    }
    .nav-links ul li a{
        font-size: 12.7px;
        margin-left: 9.9px;
    }
    .nav-links ul li::after {
        content: '';
        width: 0;
        height: 2px;
        background: #00FF00;
        transition: 0.0000001s;
    }
    .text-box h1{
        font-size: 52px;
    }

}



/* ---------- Sobre ---------- */

.sobre{
    margin-top: 1vh;
    display: inline-flex;
    padding: 0 1vh;
    justify-content: space-between;
    height: auto;
}

.imagem{
    width: 47.8%;
    overflow: hidden;
}
.imagem img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.texto{
    background: #0a640ac7;
    color: #fff;
    padding: 29px;
    width: 47.8%;
    margin: 0;
    border-radius: 10px;
}
.texto h2{
    margin-top: 8%;
    font-size: 36px; /* Tamanho da fonte para o título */
    margin-bottom: 10px; /* Espaçamento inferior para o título */
}
.texto p{
    display: inline-flex;
    font-size: 14x; /* Tamanho da fonte para o texto */
    line-height: 1.3; /* Espaçamento entre linhas */
    width: 48%; /* Cada parágrafo ocupará metade do espaço horizontal */
    margin-right: 10px; /* Adiciona margem direita para separar os parágrafos */
    margin-top: 2%;
    flex-grow: 1;
}

@media (max-width: 600px) {
    .sobre{
        display: block;
    }
    .imagem{
        width: 100%;
        height: 40vh;
        margin-bottom: 5px;
    }
    .texto{
    padding: 0;
    width: 100%;
    margin: 0;
}
.conteudo{
    padding: 20px;
}
.texto h2{
    margin-top: 4%;
    font-size: 30px; /* Tamanho da fonte para o título */
}
.texto p{
    font-size: 15.4px; /* Tamanho da fonte para o texto */
     width: 100%; 
     margin-top: 5%;
     text-align:  justify;
}
}




/* ---------- Blog ---------- */

.blog{
    margin-top: 0.6vh;
    display: inline-flex;
    padding: 0 1vh;
    justify-content: space-between;
}

.artigos{
    width: 47.8%;
    margin: 0;
    padding: 0;
}
.artigo{
    background: #0a640ac7 ;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
}
.artigo:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
}
.artigo h3 {
    font-size: 18px;
    margin-top: 5px;
}
.artigo p {
    font-size: 14px;
    margin: 8px 0; 
}

.image{
    width: 51.8%;
    max-height: 57.69vh;
    overflow: hidden;
}
.image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .blog{
        margin-top: 8px;
        display: grid;
    }
    
    .artigos{
        width: 100%;
    }
    .artigo{
        margin-top: 6px;
        transition: 1s ease;
    }

    .artigo h3 {
        font-size: 16px;
    }
    .artigo p {
        font-size: 13px;
    }
    .image{
        width: 100%;
        max-height: 58.3vh;
        margin-top: 8px;
    }
}


















/* ---------- Citação ---------- */

.citacao{
    margin: 8px 7px;
    min-height: 30vh;
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(imagens/citação.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}


.cita {
    color: #fff;
    width: 90%;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
.cita blockquote{
    margin: 25px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 600px) {
    .citacao{
        min-height: 39vh;
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(imagens/citação.jpeg);
    }
    .cita {
       
        width: 90%;
        position:  absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
     }
    .cita blockquote{
        margin: 20px;
        font-size: 17px;
        font-weight: 300;
    }
}





/* ---------- Contato ---------- */

.contato {
    background: #0a640ac7;
    color: #fff;
    padding: 30px;
    margin: 8px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.text {
    flex: 1;
    min-width: 300px;
}
.text h2{
    font-size: 4em;
    margin-top: 80px;
    font-weight: 500;
}
.text p {
    font-size: 16px;
}

.container {
    flex: 1;
    min-width: 300px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .contato {
        flex-direction: column;
        align-items: center;
    }
    .text h2{
        font-size: 2.7em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .text p {
        font-size: 13px;
    }
    .container, .text {
        width: 100%;
        max-width: 100%;
    }

}







/* .hero-bnt{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-bnt:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
} */
